services:
  beaverhabits:
    image: daya0576/beaverhabits:latest
    container_name: beaverhabits
    restart: unless-stopped
    user: "${PUID:-1000}:${PGID:-1000}"

    environment:
      - HABITS_STORAGE=USER_DISK

    volumes:
      - /opt/data_infra_homelab_rpi/beaver:/app/.user

    networks:
      - proxy_net

    labels:
      - "traefik.enable=true"

      # Router
      - "traefik.http.routers.habits.rule=Host(`${HABITS_HOST}`)"
      - "traefik.http.routers.habits.entrypoints=websecure"
      - "traefik.http.routers.habits.tls=true"
      - "traefik.http.routers.habits.tls.certresolver=le"

      # Service (vnitřní port v kontejneru)
      - "traefik.http.services.habits.loadbalancer.server.port=8080"
      - homepage.group=Apps
      - homepage.name=Beaver Habits
      - homepage.icon=mdi-calendar-check
      - homepage.href=${HOMEPAGE_HABITS_URL}
      - homepage.description=Habit tracker

networks:
  proxy_net:
    external: true
